@charset "UTF-8";
/* CSS Document */
.flex-container {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-content:center;
	min-height:600px;
	width:100%;
}

.notification {
	font-size: 10px;
	float: right;
	position: relative;
	text-align: center;
	min-width: 2em;
	top: -5.5em;
	right: -.5em;
	color: white;
	border-radius: 12em;
	border: 1px solid white;
	box-shadow: 0 .1em .4em rgba(0,0,0,.5);
	padding: 2px;
	background-color: red;
}

.cardd {
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05),  1px 1px 5px 0px rgba(0,0,0,0.08);
	max-width:220px;
	max-height: 250px;
	background-color: white;
	/*background: rgba(255,251,239,1.5);*/
	border-radius: 10px;
	padding: 8px;
	text-align:left;
	margin: 10PX;
	justify-content:center;
}

.cardd h4 {
	color: #666;
	font-size: 14px;
	padding: 0px 5px 0px;
	margin: 10px 3px 5px;
}
.cardd h3 {
	color: red;
	font-size: 15px;
	font-stretch: narrower;
	padding: 0px 5px 0px;
	margin: 10px 3px 5px;
	background-color: #FFF4DC;
}
.cardd p {
	font-size: 12px;
	font-weight: 400;
	margin-top: 10px;
	padding: 0 8px;
	color: #737373;
}
.cardd img {
	display: block;
	margin: 0 auto;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	margin-bottom: 0px;
}
.subtitle {
	color: #629B00;
	font-size: 10px;
}
